 
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
 
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root{
    --linear-gradient:  linear-gradient(90deg, #38bdf8, #6d28d9, #4c1d95);
    --linear-gradient-hover:  linear-gradient(90deg, #34ace0, #5d23ba, #3f1878);
}

#container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--linear-gradient);
    color: #d1d5db;
}


#calculator{
    background-color: #262626;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.323 );
    display: flex;
    flex-direction: column;
    gap: 25px;
}

#calculator h2{
    font-size: 30px;
    position: relative;
    font-weight: 500;
}

#calculator h2::before{
    position: absolute;
    content: '';
    height: 3px;
    width: 150px;
    background: var(--linear-gradient);
    bottom: 5px;
}

#input_box{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input-field{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.input-field label{
    font-size: 15px;
    color: #c8ced6;
    font-weight: 500 ;
}

.input-field input{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #6d28d9;
    color: #fff;
    font-size: 18px;
    padding: 4px;
    outline: none;
}

#result{
    text-align: center;
    font-size: 35px;
}

#calculate{
    background: var(--linear-gradient);
    border: none;
    padding: 10px;
    color: white;
    font-weight: 600;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease-in-out ;
}

#calculate:hover{
    transition: all 0.3s ease-in-out;
    background: var(--linear-gradient-hover);
}



/* Media queries */

@media (max-width:632px){
    #container{
        padding: 20px;
    }

   #calculator h2{
    font-size: 20px;
   }

   #calculator h2::before{
    position: absolute;
    content: '';
    height: 2px;
    width: 150px;
    background: var(--linear-gradient);
    bottom: 2px;
 }

 #result{
    text-align: center;
    font-size: 28px;
 }
}

@media (max-width: 460px){
     #calculator h2{
    font-size: 16px;
   }

   #result{
    text-align: center;
    font-size: 22px;
}

#calculate{
    background: var(--linear-gradient);
    border: none;
    padding: 10px;
    color: white;
    font-weight: 600;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}
}


@media (max-width: 400px){
     #calculator h2{
    font-size: 14px;
   }

   .input-field label{
    font-size: 12px;
   }

   #result{
    text-align: center;
    font-size: 18px;
}

#calculate{
    background: var(--linear-gradient);
    border: none;
    padding: 10px;
    color: white;
    font-weight: 600;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
}

   
}